[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
gtts = "*"
pydub = "*"
pygame = "*"
pandas = "*"
matplotlib = "*"
numpy = "*"
"plotly.express" = "*"
altair = "*"
streamlit-cookies-manager = "*"

[dev-packages]

[requires]
python_version = "3.12"
